body {
  font-family: "Courier New", Courier, monospace;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #bbbbbb;
  padding: 0 30px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-weight: bold;
}

.logo {
  margin: 16px 0;
  font-size: 1.5em;
  cursor: pointer;
}

main {
  padding: 5% 30%;
  background-color: aliceblue;
}

h1 {
  margin-top: 0;
}

/* .tech-stack {
  display: flex;
  align-items: center;
} */

.mern {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 20px;
}

.mern p {
  margin-right: 12px;
}

.mern img {
  width: 40px;
  height: 40px;
}

main img {
  margin-right: 20px;
  width: 32px;
  height: 32px;
}
