body {
  font-family: "Courier New", Courier, monospace;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #bbbbbb;
  padding: 0 30px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-weight: bold;
}

.logo {
  margin: 16px 0;
  font-size: 1.5em;
  cursor: pointer;
}
