body {
  font-family: "Courier New", Courier, monospace;
  background-color: #21222a;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  transition-duration: 0.25s;
  position: relative;
  z-index: 100;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 95%;
  background-color: white;
}

nav.dark {
  background-color: #21222a;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 2.5rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

nav.dark ul li a {
  color: white;
}

.logo {
  font-size: 1.5em;
  cursor: pointer;
}

.two {
  display: flex;
}

/* main */

main {
  padding: 5% 30%;
  background-color: #f8f8f8;
  transition-duration: 0.25s;
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 1.3rem;
  /* margin-top: -20px; */
  /* padding-top: 20px; */
  box-sizing: border-box;
}

main.dark {
  background-color: #282d35;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  max-width: 80%;
}

h1 {
  margin-top: 0;
  font-size: 5rem;
}

.mern {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 20px;
}

.mern p {
  margin-right: 12px;
}

.mern img {
  width: 60px;
  height: 60px;
}

main img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

/* about and projects */

.rows {
  padding: 5% 20%;
}

section.dark {
  background-color: #282d35;
  color: white;
}

/* about */

#about {
  /* padding: 2% 5%; */
  background-color: #fff;
  transition-duration: 0.25s;
}

#about h2 {
  font-size: 2.5rem;
}

.lewagon-logo {
  width: 200px;
  margin-bottom: 1rem;
}

.udemy-logo {
  width: 150px;
  margin-bottom: 1rem;
}

.row {
  display: flex;
}
#about.dark {
  background-color: #232930;
  color: white;
}

.row img {
  margin-left: 2rem;
}

.row:nth-of-type(2) {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.row:nth-of-type(2) img {
  margin-left: 0;
  margin-right: 2rem;
}

.row p {
  text-align: justify;
}

/* projects */

#projects {
  padding: 5% 20%;
  background-color: #f8f8f8;
  transition-duration: 0.25s;
}

#projects h2 {
  font-size: 2.5rem;
}

#projects.dark {
  background-color: #282d35;
  color: white;
}

.coming-soon {
  width: max-content;
  margin: 0 auto;
}

/* resources */

#resources {
  padding: 0.1% 10%;
  margin-top: 0.5%;
  background-color: #f8f8f8;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  transition-duration: 0.25s;
}

#resources.dark {
  background-color: #21222a;
  color: white;
}

#resources h2 {
  font-size: 1rem;
}

/* .icons {
  display: flex;
  justify-content: center;
} */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows content to wrap onto multiple lines */
  gap: 1rem; /* Adds some spacing between items */
}

.icons ul li {
  font-size: 0.8rem;
  list-style: none;
  padding-right: 2rem;
}

.icons ul {
  padding: 0;
}

#resources img {
  width: 2.5rem;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 20% 3% 20%;
  transition-duration: 0.25s;
  background-color: #f8f8f8;
}

footer.dark {
  background-color: #21222a;
  color: white;
}

.icons a {
  color: black;
}

.dark .icons a {
  color: white;
}

footer p {
  margin: 0 200px;
  font-size: 1.2rem;
}

.linkedin-icon,
.github-icon,
.galactic-republic-icon {
  font-size: 2rem;
}

.linkedin-icon {
  margin-right: 10px;
}

.heart-icon:hover {
  transition-duration: 0.25s;
  color: #e31c79;
}

.react-icon {
  color: #61dbfb;
}

/* Toggler */

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.8rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler-dark {
  color: #ffffff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* media */

/* Mobile devices */
@media (max-width: 767px) {
  nav {
    padding: 1rem;
    /* Additional mobile styles for navigation */
  }

  nav ul {
    padding-left: 1rem;
    /* Additional mobile styles for navigation ul */
  }

  nav ul li a {
    margin-right: 1rem;
    /* Additional mobile styles for navigation links */
  }

  main {
    padding: 5% 10%;
    /* Additional mobile styles for main content */
  }

  .bio {
    max-width: 100%;
    /* Additional mobile styles for bio container */
  }

  .mern {
    margin-bottom: 10px;
    /* Additional mobile styles for mern section */
  }

  .mern img {
    width: 40px;
    height: 40px;
    /* Additional mobile styles for mern icons */
  }

  main img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    /* Additional mobile styles for other images */
  }

  #about h2 {
    font-size: 2rem;
    /* Additional mobile styles for about section heading */
  }

  .row {
    flex-direction: column;
    /* Additional mobile styles for rows in about section */
  }

  .row img {
    margin-left: 0;
    margin-bottom: 1rem;
    /* Additional mobile styles for images in about section */
  }

  #projects h2 {
    font-size: 2rem;
    /* Additional mobile styles for projects section heading */
  }

  #resources h2 {
    font-size: 0.9rem;
    /* Additional mobile styles for resources section heading */
  }

  footer {
    padding: 1% 5% 3% 5%;
    /* Additional mobile styles for footer */
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    padding: 1rem 3rem;
    /* Additional tablet styles for navigation */
  }

  main {
    padding: 5% 20%;
    /* Additional tablet styles for main content */
  }

  .bio {
    max-width: 80%;
    /* Additional tablet styles for bio container */
  }

  .mern {
    margin-bottom: 20px;
    /* Additional tablet styles for mern section */
  }

  .mern img {
    width: 50px;
    height: 50px;
    /* Additional tablet styles for mern icons */
  }

  main img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    /* Additional tablet styles for other images */
  }

  #about h2 {
    font-size: 2.2rem;
    /* Additional tablet styles for about section heading */
  }

  .row {
    flex-direction: row;
    /* Additional tablet styles for rows in about section */
  }

  .row img {
    margin-left: 2rem;
    margin-bottom: 0;
    /* Additional tablet styles for images in about section */
  }

  #projects h2 {
    font-size: 2.2rem;
    /* Additional tablet styles for projects section heading */
  }

  #resources h2 {
    font-size: 1rem;
    /* Additional tablet styles for resources section heading */
  }

  footer {
    padding: 1% 10% 3% 10%;
    /* Additional tablet styles for footer */
  }
}

/* Desktops */
@media (min-width: 1024px) {
  nav {
    padding: 1rem 3rem;
    /* Additional desktop styles for navigation */
  }

  main {
    padding: 5% 30%;
    /* Additional desktop styles for main content */
  }

  #about {
    padding: 2% 5%;
    /* Additional desktop styles for about section */
  }

  #about h2 {
    font-size: 2.5rem;
    /* Additional desktop styles for about section heading */
  }

  #projects {
    padding: 5% 20%;
    /* Additional desktop styles for projects section */
  }

  #projects h2 {
    font-size: 2.5rem;
    /* Additional desktop styles for projects section heading */
  }

  footer {
    padding: 1% 20% 3% 20%;
    /* Additional desktop styles for footer */
  }
}
